version: '3.8'

services:
  auth-service:
    build:
      context: .
      dockerfile: ./services/authentication-service/Dockerfile
    ports:
      - "8081:8080"
    networks:
      - restaurant-network
    restart: unless-stopped

  order-service:
    build:
      context: .
      dockerfile: ./services/order-service/Dockerfile
    ports:
      - "8082:8080"
    networks:
      - restaurant-network
    restart: unless-stopped

  product-service:
    build:
      context: .
      dockerfile: ./services/product-service/Dockerfile
    ports:
      - "8083:8080"
    networks:
      - restaurant-network
    restart: unless-stopped

networks:
  restaurant-network:
    driver: bridge