version: '3.8'

services:
  auth-service:
    build:
      context: ./services/authentication-service
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    networks:
      - restaurant-network
    restart: unless-stopped

  order-service:
    build:
      context: ./services/order-service
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - restaurant-network
    restart: unless-stopped

  product-service:
    build:
      context: ./services/product-service
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    networks:
      - restaurant-network
    restart: unless-stopped

networks:
  restaurant-network:
    driver: bridge